csv-to-json.json
{"flowContents":{"identifier":"f68d9a5f-b5c2-356d-be25-da4433494420","instanceIdentifier":"97d99947-0196-1000-5337-5341c3eab85d","name":"csv-to-json","comments":"","position":{"x":-776.0,"y":-224.0},"processGroups":[],"remoteProcessGroups":[],"processors":[{"identifier":"97dbc951-0196-1000-cf5b-ea9dbdf8a712","instanceIdentifier":"add7ca65-89c9-343b-d78c-16be84dbd43c","name":"GetFile","comments":"","position":{"x":-2448.0,"y":-968.0},"type":"org.apache.nifi.processors.standard.GetFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Keep Source File":"true","Minimum File Age":"0 sec","Polling Interval":"0 sec","Input Directory":"C:\\Users\\henri\\Downloads\\CSV  para JSON\\CSV","Maximum File Age":null,"Batch Size":"10","Maximum File Size":null,"Minimum File Size":"0 B","Ignore Hidden Files":"true","Recurse Subdirectories":"true","File Filter":"[^\\.].*","Path Filter":null},"propertyDescriptors":{"Keep Source File":{"name":"Keep Source File","displayName":"Keep Source File","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Age":{"name":"Minimum File Age","displayName":"Minimum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Polling Interval":{"name":"Polling Interval","displayName":"Polling Interval","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Input Directory":{"name":"Input Directory","displayName":"Input Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Age":{"name":"Maximum File Age","displayName":"Maximum File Age","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Batch Size":{"name":"Batch Size","displayName":"Batch Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Size":{"name":"Maximum File Size","displayName":"Maximum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Minimum File Size":{"name":"Minimum File Size","displayName":"Minimum File Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Ignore Hidden Files":{"name":"Ignore Hidden Files","displayName":"Ignore Hidden Files","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Recurse Subdirectories":{"name":"Recurse Subdirectories","displayName":"Recurse Subdirectories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"File Filter":{"name":"File Filter","displayName":"File Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Path Filter":{"name":"Path Filter","displayName":"Path Filter","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"},{"identifier":"97dbc950-0196-1000-c278-58c8fb9b4f6e","instanceIdentifier":"bc4c52b9-7a35-3250-57f4-73f79ed386d7","name":"PutFile","comments":"","position":{"x":-1976.0,"y":-968.0},"type":"org.apache.nifi.processors.standard.PutFile","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Group":null,"Owner":null,"Create Missing Directories":"true","Permissions":null,"Maximum File Count":null,"Last Modified Time":null,"Directory":"C:\\Users\\henri\\Downloads\\CSV  para JSON\\CSV EDITADO","Conflict Resolution Strategy":"fail"},"propertyDescriptors":{"Group":{"name":"Group","displayName":"Group","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Owner":{"name":"Owner","displayName":"Owner","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Create Missing Directories":{"name":"Create Missing Directories","displayName":"Create Missing Directories","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Permissions":{"name":"Permissions","displayName":"Permissions","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Maximum File Count":{"name":"Maximum File Count","displayName":"Maximum File Count","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Last Modified Time":{"name":"Last Modified Time","displayName":"Last Modified Time","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Directory":{"name":"Directory","displayName":"Directory","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Conflict Resolution Strategy":{"name":"Conflict Resolution Strategy","displayName":"Conflict Resolution Strategy","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["success","failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"},{"identifier":"97dbc953-0196-1000-771b-3eb873eff540","instanceIdentifier":"a05afce6-d520-367c-e875-74e37f4dfd7a","name":"AddDileExtension","comments":"","position":{"x":-1968.0,"y":-696.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"filename":"${filename}.json","Store State":"Do not store state","canonical-value-lookup-cache-size":"100","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"filename":{"name":"filename","displayName":"filename","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"},{"identifier":"97dbc954-0196-1000-488d-12b27b26e921","instanceIdentifier":"1f805cae-b04f-31c3-5426-5129f62fc3c3","name":"ConvertRecord","comments":"","position":{"x":-2208.0,"y":-456.0},"type":"org.apache.nifi.processors.standard.ConvertRecord","bundle":{"group":"org.apache.nifi","artifact":"nifi-standard-nar","version":"2.4.0"},"properties":{"Include Zero Record FlowFiles":"true","Record Writer":"7203f6cc-e6c7-3777-a4e3-4a45288d7f56","Record Reader":"fae35f00-e142-3c14-aee6-e3a6693b5e4f"},"propertyDescriptors":{"Include Zero Record FlowFiles":{"name":"Include Zero Record FlowFiles","displayName":"Include Zero Record FlowFiles","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Record Writer":{"name":"Record Writer","displayName":"Record Writer","identifiesControllerService":true,"sensitive":false,"dynamic":false},"Record Reader":{"name":"Record Reader","displayName":"Record Reader","identifiesControllerService":true,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":0,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":["failure"],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"},{"identifier":"97dbc952-0196-1000-5385-7c8ffbfe94df","instanceIdentifier":"306df991-a4b4-34f2-24a3-dbf997791fc8","name":"AddSchemaName","comments":"","position":{"x":-2448.0,"y":-712.0},"type":"org.apache.nifi.processors.attributes.UpdateAttribute","bundle":{"group":"org.apache.nifi","artifact":"nifi-update-attribute-nar","version":"2.4.0"},"properties":{"Delete Attributes Expression":null,"Store State":"Do not store state","canonical-value-lookup-cache-size":"100","schema.name":"users","Stateful Variables Initial Value":null},"propertyDescriptors":{"Delete Attributes Expression":{"name":"Delete Attributes Expression","displayName":"Delete Attributes Expression","identifiesControllerService":false,"sensitive":false,"dynamic":false},"Store State":{"name":"Store State","displayName":"Store State","identifiesControllerService":false,"sensitive":false,"dynamic":false},"canonical-value-lookup-cache-size":{"name":"canonical-value-lookup-cache-size","displayName":"Cache Value Lookup Cache Size","identifiesControllerService":false,"sensitive":false,"dynamic":false},"schema.name":{"name":"schema.name","displayName":"schema.name","identifiesControllerService":false,"sensitive":false,"dynamic":true},"Stateful Variables Initial Value":{"name":"Stateful Variables Initial Value","displayName":"Stateful Variables Initial Value","identifiesControllerService":false,"sensitive":false,"dynamic":false}},"style":{},"schedulingPeriod":"0 sec","schedulingStrategy":"TIMER_DRIVEN","executionNode":"ALL","penaltyDuration":"30 sec","yieldDuration":"1 sec","bulletinLevel":"WARN","runDurationMillis":25,"concurrentlySchedulableTaskCount":1,"autoTerminatedRelationships":[],"scheduledState":"ENABLED","retryCount":10,"retriedRelationships":[],"backoffMechanism":"PENALIZE_FLOWFILE","maxBackoffPeriod":"10 mins","componentType":"PROCESSOR","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"}],"inputPorts":[],"outputPorts":[],"connections":[{"identifier":"97dbc956-0196-1000-6cfd-8b42bb139ed1","instanceIdentifier":"80ee764e-0704-382e-f84f-7d62e7e98476","name":"","source":{"id":"97dbc952-0196-1000-5385-7c8ffbfe94df","type":"PROCESSOR","groupId":"f68d9a5f-b5c2-356d-be25-da4433494420","name":"AddSchemaName","comments":"","instanceIdentifier":"306df991-a4b4-34f2-24a3-dbf997791fc8"},"destination":{"id":"97dbc954-0196-1000-488d-12b27b26e921","type":"PROCESSOR","groupId":"f68d9a5f-b5c2-356d-be25-da4433494420","name":"ConvertRecord","comments":"","instanceIdentifier":"1f805cae-b04f-31c3-5426-5129f62fc3c3"},"labelIndex":0,"zIndex":2,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"},{"identifier":"97dbc955-0196-1000-ea9a-c34a87d5e8b9","instanceIdentifier":"fa379c44-7213-31d2-0e1f-b071bdbe114b","name":"","source":{"id":"97dbc951-0196-1000-cf5b-ea9dbdf8a712","type":"PROCESSOR","groupId":"f68d9a5f-b5c2-356d-be25-da4433494420","name":"GetFile","comments":"","instanceIdentifier":"add7ca65-89c9-343b-d78c-16be84dbd43c"},"destination":{"id":"97dbc952-0196-1000-5385-7c8ffbfe94df","type":"PROCESSOR","groupId":"f68d9a5f-b5c2-356d-be25-da4433494420","name":"AddSchemaName","comments":"","instanceIdentifier":"306df991-a4b4-34f2-24a3-dbf997791fc8"},"labelIndex":0,"zIndex":1,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"},{"identifier":"97dbc958-0196-1000-f6fa-0b1ed6ad42ba","instanceIdentifier":"189cde55-2f57-3361-324a-e57eeb78e611","name":"","source":{"id":"97dbc954-0196-1000-488d-12b27b26e921","type":"PROCESSOR","groupId":"f68d9a5f-b5c2-356d-be25-da4433494420","name":"ConvertRecord","comments":"","instanceIdentifier":"1f805cae-b04f-31c3-5426-5129f62fc3c3"},"destination":{"id":"97dbc953-0196-1000-771b-3eb873eff540","type":"PROCESSOR","groupId":"f68d9a5f-b5c2-356d-be25-da4433494420","name":"AddDileExtension","comments":"","instanceIdentifier":"a05afce6-d520-367c-e875-74e37f4dfd7a"},"labelIndex":0,"zIndex":3,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"},{"identifier":"97dbc957-0196-1000-42c9-0051a4c0e3cd","instanceIdentifier":"8bd47654-381d-3137-d4f9-88cb6cd91d47","name":"","source":{"id":"97dbc953-0196-1000-771b-3eb873eff540","type":"PROCESSOR","groupId":"f68d9a5f-b5c2-356d-be25-da4433494420","name":"AddDileExtension","comments":"","instanceIdentifier":"a05afce6-d520-367c-e875-74e37f4dfd7a"},"destination":{"id":"97dbc950-0196-1000-c278-58c8fb9b4f6e","type":"PROCESSOR","groupId":"f68d9a5f-b5c2-356d-be25-da4433494420","name":"PutFile","comments":"","instanceIdentifier":"bc4c52b9-7a35-3250-57f4-73f79ed386d7"},"labelIndex":0,"zIndex":4,"selectedRelationships":["success"],"backPressureObjectThreshold":10000,"backPressureDataSizeThreshold":"1 GB","flowFileExpiration":"0 sec","prioritizers":[],"bends":[],"loadBalanceStrategy":"DO_NOT_LOAD_BALANCE","partitioningAttribute":"","loadBalanceCompression":"DO_NOT_COMPRESS","componentType":"CONNECTION","groupIdentifier":"f68d9a5f-b5c2-356d-be25-da4433494420"}],"labels":[],"funnels":[],"controllerServices":[],"defaultFlowFileExpiration":"0 sec","defaultBackPressureObjectThreshold":10000,"defaultBackPressureDataSizeThreshold":"1 GB","scheduledState":"ENABLED","executionEngine":"INHERITED","maxConcurrentTasks":1,"statelessFlowTimeout":"1 min","flowFileConcurrency":"UNBOUNDED","flowFileOutboundPolicy":"STREAM_WHEN_AVAILABLE","componentType":"PROCESS_GROUP"},"externalControllerServices":{"fae35f00-e142-3c14-aee6-e3a6693b5e4f":{"identifier":"fae35f00-e142-3c14-aee6-e3a6693b5e4f","name":"CSVReader"},"7203f6cc-e6c7-3777-a4e3-4a45288d7f56":{"identifier":"7203f6cc-e6c7-3777-a4e3-4a45288d7f56","name":"JsonRecordSetWriter"}},"parameterContexts":{},"flowEncodingVersion":"1.0","parameterProviders":{},"latest":false}